# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
**/node_modules
.pnpm-store

# Build outputs
dist
**/dist
dist-ssr
**/dist-ssr
.nestjs
**/.nestjs
coverage
**/coverage
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example
!**/.env.example

# Editors / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
